 <div class="max-w-[1300px] mx-auto py-20 xs:px-6 md:px-16">
   <div class="py-10">
     <h1 class="md:text-5xl xs:text-3xl font-bold ">The Latest Insight</h1>
     <h2 class=" mt-2 text-gray-500">Here are some of the featured Apartment in different categories</h2>
   </div>
   <div class="grid md:grid-cols-2 xs:grid-cols-1 lg:grid-cols-3 gap-6">
     <div class="bg-white p-3 rounded-lg w-full">
       <img class="rounded-lg w-full" src=" /imgs/Lattest/news-01.png" alt="">
       <h3 class="text-lg transition-all duration-500 hover:text-dgolden cursor-pointer px-3 font-semibold py-7">The Rise of Remote Work: How It's Shaping Real Estate Trends</h3>
       <div class="flex gap-3 border-t pt-5 border-gray-300">
         <img class="w-10 h-10 rounded-full" src=" /imgs/Lattest/author-01.png" alt="">
         <div>
           <h3>Mr. Moris Mannu</h3>
           <h5>Posted on 3 April, 2023</h5>
         </div>
       </div>
     </div>
     <div class="bg-white p-3 rounded-lg w-full">
       <img class="rounded-lg w-full" src=" /imgs/Lattest/news-02.png" alt="">
       <h3 class="text-lg transition-all duration-500 hover:text-dgolden cursor-pointer px-3 font-semibold py-7">Real Estate Investing 101: Essential Tips for New Investors</h3>
       <div class="flex gap-3 border-t pt-5 border-gray-300">
         <img class="w-10 h-10 rounded-full" src=" /imgs/Lattest/author-02.png" alt="">
         <div>
           <h3>Mr. Moris Mannu</h3>
           <h5>Posted on 3 April, 2023</h5>
         </div>
       </div>
     </div>
     <div class="bg-white p-3 rounded-lg w-full">
       <img class="rounded-lg w-full" src=" /imgs/Lattest/news-03.png" alt="">
       <h3 class="text-lg transition-all duration-500 hover:text-dgolden cursor-pointer px-3 font-semibold py-7">The Hot Real Estate Market: Tips for Buyers and Sellers</h3>
       <div class="flex gap-3 border-t pt-5 border-gray-300">
         <img class="w-10 h-10 rounded-full" src=" /imgs/Lattest/author-03.png" alt="">
         <div>
           <h3>Mr. Moris Mannu</h3>
           <h5>Posted on 3 April, 2023</h5>
         </div>
       </div>
     </div>
   </div>
 </div>