<div class="py-10">
  <div class="flex items-center gap-2">
    <h2 class="font-semibold">Our Trusted Partners</h2>
    <div class="h-[2px] w-[80%] bg-gray-200"></div>
  </div>
  <div class="py-10 text-white overflow-hidden text-2xl font-semibold">
    <div class=" marquee2 flex items-center gap-10 whitespace-nowrap">
      <img src="/imgs/reviews/company-logo-01.png" alt="">
      <img src="/imgs/reviews/company-logo-02.png" alt="">
      <img src="/imgs/reviews/company-logo-03.png" alt="">
      <img src="/imgs/reviews/company-logo-04.png" alt="">
      <img src="/imgs/reviews/company-logo-05.png" alt="">
      <img src="/imgs/reviews/company-logo-01.png" alt="">
      <img src="/imgs/reviews/company-logo-02.png" alt="">
      <img src="/imgs/reviews/company-logo-03.png" alt="">
      <img src="/imgs/reviews/company-logo-04.png" alt="">
      <img src="/imgs/reviews/company-logo-05.png" alt="">
    </div>
  </div>
</div>