      <div class="flex flex-wrap gap-2 text-center w-full justify-center items-center">
        <h3>Excellent</h3>
        <img src="/imgs/choose/trustpilot-star2.svg" alt="">
        <p>5.0 Ratting out of 5.0 based on 1564854 reviews</p>
        <img src="/imgs/choose/trustpilot-logo.svg" alt="">
      </div>